body{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.46),rgb(71, 71, 71));
}

img {
    height: 300px;
    object-fit: cover;
    transition: all 0.5s;
    z-index: -10;
}
.card{
    transition: all 0.5s;
    cursor: pointer;
    z-index: 10;
}
.card:hover {
    /* transform: translateY(-10px); */
}
.card:hover img{
    transform: scale(1.2);
}